#top {
    min-width: 1150px;
    /*width: 100%;*/
    height: 654px;
    background: url("../img/reg.jpg") center no-repeat;
}

#top_content {
    width: 1150px;
    margin: 0 auto;
}

#logo {
    display: inline-block;
    float: left;
    width: 165px;
    height: 42px;
    background: url("../img/sprite.png") -461px -154px no-repeat;
    margin-top: 25px;
}
.reg_box{
    display: inline-block;
    width: 136px;
    height: 50px;
    border-left: 1px solid #bbbbbb;
    font:23px/50px "微软雅黑";
    color: #555555;
    padding-left: 17px;
    margin-left: 18px;
    margin-top: 20px;
}
#main_box{
    width: 511px;
    height: 522px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 20px;
}
h1{
    display: inline-block;
    width: 103px;
    height: 20px;
    font: bold 20px/20px "微软雅黑";
    color: #333333;
    margin-left:204px;
    margin-top: 20px;
}
.ipt_dv{
    width: 370px;
    height: 40px;
    font:14px/40px "微软雅黑";
    margin-top: 20px;
    margin-left: 70px;
}
.star{
    font:14px/14px "微软雅黑";
    color: #eb5f00;
}
.input_box{
    display: inline-block;
    width: 268px;
    height: 38px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.input{
    width: 200px;
    line-height: 24px;
    font:14px/22px "微软雅黑";
    margin-left: 15px;
    border: none;
}
.ipt_ico{
    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 12px;
    margin-top: 10px;
}
.ipt_cio1{
    background: url("../img/sprite.png") -34px -221px no-repeat;
}
.ipt_cio2{
    background: url("../img/sprite.png") -74px -220px no-repeat;
}
.ipt_cio3{
    background: url("../img/sprite.png") -115px -221px no-repeat;
}
.ipt_cio4{
    background: url("../img/sprite.png") -155px -223px no-repeat;
}
.input_box1{
    display: inline-block;
    width: 118px;
    height: 38px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.input1{
    width: 100px;
    line-height: 24px;
    font:14px/22px "微软雅黑";
    margin-left: 15px;
    border: none;
}
.check_img{
    display: inline-block;
    width: 100px;
    height: 36px;
    background-color: #b0b0b0;
    font:14px/36px "微软雅黑";
    text-align: center;
    color: #ffffff;
    margin-left: 10px;
}
.change{
    font:12px/36px "微软雅黑";
    color: #555555;
    margin-left: 4px;
    cursor: pointer;
}
.clause_box{


}
.check_box{
    display: inline-block;
    width: 9px;
    height: 10px;
    border-left: 2px solid #d4d4d4;
    border-top: 2px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 1px;
}
.checked{
    display: inline-block;
    width: 11px;
    height: 7px;
    background: url("../img/sprite.png") -197px -230px no-repeat;
    position: relative;
    top: -4px;
}
.ipt_dv1{
    height: 12px;
    font:12px/12px "微软雅黑";
    color: #555555;
    margin-left: 160px;
    margin-top: 16px;
}
.agreement{
    color: #70ad46;
}
.reg_btn{
    width: 270px;
    height: 40px;
    font: bold 14px/36px "微软雅黑";
    color: #ffffff;
    border: none;
    background-color: #70ad46;
    text-align: center;
    border-radius: 4px;
    margin-left: 160px;
    margin-top: 10px;
}

#end_content {
    width: 100%;
    height: 262px;
    background: #242623;
}

#end_content_box {
    width: 1150px;
    height: 262px;
    margin: 0 auto;
}

#end_link1 {
    padding-top: 39px;
}

#end_link2 {
    padding-top: 15px;
}

.end_link1_li {
    float: left;
    margin-right: 18px;
}

.end_link1_li_a {
    color: #cccccc;
    font-size: 12px;
}

.end_link1_title {
    color: #cccccc;
    margin-right: 5px;
}

#split {
    display: inline-block;
    width: 948px;
    height: 1px;
    background-color: #444444;
    margin-top: 46px;
}

#qrCode {
    display: inline-block;
    float: right;
    width: 152px;
    height: 154px;
    background: url("../img/QRcode.jpg");
    position: relative;
    top: -53px;
}

#qrCodeIntro {
    position: relative;
    top: 163px;
    left: 17px;
    color: #cccccc;
}

#permission {
    color: #acadac;
    position: relative;
    top: 27px;
}

#copy {
    color: #acadac;
    position: relative;
    top: 40px;
}


#reg_pop{
    display: none;
    width: 298px;
    height: 178px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    top:20%;
    left:650px;
}
.off{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../img/sprite.png") -523px -218px no-repeat;
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}
.finish{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/sprite.png") -480px -215px no-repeat;
    margin-top: 40px;
    margin-left: 56px;
}
.alert_intro{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: 5px;
}
.continue{
    font-size: 12px;
    color: #666666;
    position: relative;
    top:25px;
    left:115px;
}

.all{
    display: none;
    width: 100%;
    height: 916px;
    background-color: rgba(82, 82, 82, 0.5);
    position: absolute;
    top:0;
    left: 0;

}