#top {
    min-width: 1150px;
    height: 56px;
    background: #75a749;
}

#top_content {
    width: 1150px;
    margin: 0 auto;
    position: relative;
}

#logo {
    display: inline-block;
    float: left;
    width: 151px;
    height: 38px;
    background: url("../img/sprite.png") 0 0 no-repeat;
    margin-top: 10px;
}

#reg {
    display: inline-block;
    float: right;
    /*width: 96px;*/
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
}

.register {
    font: bold normal 14px/16px "微软雅黑";
    color: #fff;
}

#search_box {
    display: inline-block;
    width: 519px;
    height: 36px;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: 112px;
    margin-top: 10px;
    overflow: hidden;
}

#address_box {
    display: inline-block;
    width: 81px;
    height: 28px;
    border-right: 1px solid #cccccc;
    margin-top: 4px;
    text-align: center;
    vertical-align: 9px;
    cursor: pointer;
}

#address {
    font: 16px "微软雅黑";
    color: #333333;
    position: relative;
    top: 3px;
}

#inner_tri {
    display: inline-block;
    width: 0;
    border-left: 5px solid rgba(163, 163, 163, 0);
    border-right: 5px solid rgba(163, 163, 163, 0);
    border-top: 5px solid rgba(163, 163, 163, 1);
    margin-left: 8px;
}

#search_input {
    width: 400px;
    height: 28px;
    border: none;
    margin-left: 15px;
    vertical-align: 7px;
}

#search_icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../img/sprite.png") -253px 0 no-repeat;
    margin-top: 6px;
}

#search_house {
    font: 18px/28px "微软雅黑";
    color: #fff;
    margin-left: 10px;
    vertical-align: 5px;
}

#search_btn {
    display: inline-block;
    width: 124px;
    height: 36px;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #638e3c;
    vertical-align: 5.5px;
    cursor: pointer;
}
#pop {
    display: none;
    width: 81px;
    height: 222px;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    top: 41px;
    left: 263px;
    z-index: 1;
}

.pop_list_city {
    display: inline-block;
    float: left;
    width: 62px;
    height: 30px;
    text-align: center;
    color: #333333;
    font: 16px/30px "微软雅黑";
    margin-top: 3px;
    cursor: pointer;
}

#pop_list {
    display: inline-block;
    margin-left: 11px;
    position: relative;
    top: -10px;
}


#main_box {
    width: 100%;
    /*height: 1458px;*/
}

#main_content {
    width: 1150px;
    height: 505px;
    margin: 0 auto;
}

#personal_box_r {
    width: 1150px;
    height: 1307px;
    margin-left: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-top: 20px;
}

#personal_box_l, #personal_box_r {
    display: inline-block;
    float: left;
}

#personal_box_r_inner {
    width: 1150px;
    margin: 0 auto;
    position: relative;
}
#screen{
    width: 1148px;
    height: 156px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #eeeeee;
    margin-top: 20px;
    margin-bottom: 10px;
}
.opt_box{
    display: inline-block;
    margin-top: 18px;
    margin-left: 19px;
}
.opt_li{
    display: inline-block;
    float: left;
    font:12px/12px "微软雅黑";
    color: #666666;
    cursor: pointer;
}
.opt_li_1{
    display: inline-block;
    float: left;
    font:12px/12px "微软雅黑";
    color: #666666;
    cursor: pointer;
    cursor: default;
}
.opt_check{
    color: #75a749;
}
.opt_li:hover{
    color: #75a749;
}
.kind{
    display: inline-block;
    width: 92px;
    height: 20px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -5px;
}
.kind_inner{
    font:14px/20px "微软雅黑";
    color: #333333;
    padding-left: 8px;
}
.kind_tri{
    display: inline-block;
    border-left:4px solid rgba(153,153,153,0) ;
    border-right:4px solid rgba(153,153,153,0) ;
    border-top:4px solid rgba(153,153,153,1) ;
    float: right;
    margin-top: 8px;
    margin-right: 9px;
}
.opt_condition,.opt_condition_none{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    border: 1px solid #979797;
    border-radius: 4px;
    vertical-align: -2px;
}
.opt_con_check{
    background: url("../img/sprite.png")-3px -216px no-repeat;
}

.pop_li{
    display: none;
    width: 92px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    position: absolute;
    top: 140px;
    cursor: default;
}
.pop_li_opt{
    display: inline-block;
    width: 92px;
    height: 25%;
    text-align: center;
    padding-top: 1px;
    font:14px/30px "微软雅黑";
    color: #333333;
}
.pop_li_opt:hover{
    color: #fff;
    background-color: #75a749;
}
.opt_box_screen{
    position: relative;
}
.pop_li_1{
    left: 60px;
    margin-left: 8px;
    z-index: 1;
}
.pop_li_2{

    left: 166px;
    margin-left: 8px;
    z-index: 1;
}
#inner_bar {
    display: inline-block;
    width: 1148px;
    height: 38px;
    border:1px solid #cccccc;
    background: #eeeeee;
    margin-top: 12px;

}
#middle{
    width: 1150px;
    position: relative;
    /*top: -148px;*/
}
.inner_bar_tool {
    display: inline-block;
    width: 80px;
    height: 38px;
    text-align: center;
    font: 14px/40px "微软 雅黑";
    color: #666666;
    cursor: pointer;
}
.inner_bar_tool:hover{
    background: #75a749;
    color: #ffffff;
}
.inner_bar_tool_r{
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
    font: 14px/40px "微软 雅黑";
    color: #666666;
    cursor: pointer;
    float: right;
    width: 60px;
}
.inner_bar_tool_r:hover{
    color: #75a749;
}
.inner_bar_check {
    background: #75a749;
    color: #ffffff;
}

.inner_bar_check_r {
    color: #75a749;
}
#tri_top{
    display: inline-block;
    border-left:4px solid rgba(153,153,153,0) ;
    border-right:4px solid rgba(153,153,153,0) ;
    border-bottom:4px solid rgba(153,153,153,1) ;
    position: relative;
    top: -6px;
    left: 8px;
}
#tri_bottom{
    display: inline-block;
    border-left:4px solid rgba(153,153,153,0) ;
    border-right:4px solid rgba(153,153,153,0) ;
    border-top:4px solid rgba(153,153,153,1) ;
}
.all_room{
    display: block;
}
.faith_room,.per_room,.agent_room{
    display: none;
}
.collect_dv{
    width: 1150px;
    height: 190px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #e1e1e1;
}
.photo_box{
    width: 218px;
    height: 160px;
}
.photo_box img{
    width: 218px;
    height: 160px;
}

.collect_dv_r{
    width: 884px;
    height: 190px;
    margin-left: 24px;
}
.photo_box,.collect_dv_r{
    display: inline-block;
    float: left;
}
.photo_id{
    font:bold 18px/18px "微软雅黑";
    color: #333333;
}
.agent{
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url("../img/sprite.png") -35px -185px no-repeat;
    vertical-align: -5px;
    margin-left: 8px;
}
.faith{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../img/sprite.png") -79px -184px no-repeat;
    vertical-align: -5px;
    margin-left: 8px;
}
.delete{
    display: inline-block;
    float: right;
    margin-right: 20px;
    width: 64px;
    height: 22px;
    border: 1px solid #cccccc;
    font:14px/22px "宋体";
    color: #666666;
    border-radius: 1px;
    cursor: pointer;
}
.intro{
    display: inline-block;
    font:14px/14px "宋体";
    margin-top: 20px;
}
.address{
    display: inline-block;
    width: 13px;
    height: 17px;
    background: url("../img/sprite.png") 0 -169px no-repeat;
}
.intro_1{
    display: inline-block;
    width: 64px;
    height: 22px;
    border: 1px solid #ffa422;
    font:14px/20px "微软雅黑";
    text-align: center;
    border-radius: 1px;
    color: #ffa422;
    margin-top: 19px;
    margin-right: 12px;
}
.intro_2{
    display: inline-block;
    width: 64px;
    height: 22px;
    border: 1px solid #75a749;
    font:14px/20px "微软雅黑";
    text-align: center;
    border-radius: 1px;
    color: #75a749;
    margin-top: 19px;
}
.intro_3{
    display: inline-block;
    width: 74px;
    height: 22px;
    border: 1px solid #88b9b9;
    font:14px/20px "微软雅黑";
    text-align: center;
    border-radius: 1px;
    color: #88b9b9;
    margin-top: 19px;
    margin-right: 12px;
}
.intro_4{
    display: inline-block;
    width: 74px;
    height: 22px;
    border: 1px solid #de958f;
    font:14px/20px "微软雅黑";
    text-align: center;
    border-radius: 1px;
    color: #de958f;
    margin-top: 19px;
}
.intro_5{
    margin-left: 12px;
}
.intro_6{
    margin-right: 12px;
}
.per{
    font:16px/16px "微软雅黑";
    color: #ffab3b;
}
.rent_fee{
    display: inline-block;
    float: right;
    font:16px/16px "微软雅黑";
    color: #eb5f00;
    position: relative;
    top:29px;
    left:-22px;
}
.rent_num{
    font:bold 24px/24px "微软雅黑";
}
.today{
    display: inline-block;
    float: right;
    font:14px/14px "微软雅黑";
    color: #737373;
    position: relative;
    top:30px;
    left:-23px;
}
.page {
    display: inline-block;
    width: 363px;
    height: 30px;
    margin: 40px 288px;
    position: relative;
    top: -30px;
}

.page>a {
    display: inline-block;
    /*width: 28px;*/
    height: 28px;
    border: 1px solid #cccccc;
    font: 12px/28px "微软雅黑";
    /*color: #333333;*/
    text-align: center;
    cursor: pointer;
    margin-right: 4px;
    padding: 0 10px;
}
.page-checked {
    background-color: #88a1ff;
    color: #fff;
}
.page_dot {
    border: none;
}

.page_100 {
    width: 42px;
}

.page_next {
    width: 56px;
}

#end_content {
    width: 100%;
    height: 262px;
    background: #242623;
}

#end_content_box {
    width: 1150px;
    height: 262px;
    margin: 0 auto;
}

#end_link1 {
    padding-top: 39px;
}

#end_link2 {
    padding-top: 15px;
}

.end_link1_li {
    float: left;
    margin-right: 18px;
}

.end_link1_li_a {
    color: #cccccc;
    font-size: 12px;
}
.end_link1_li_a:hover{
    color: #fff;
}
.end_link1_title {
    color: #cccccc;
    margin-right: 5px;
}

#split {
    display: inline-block;
    width: 948px;
    height: 1px;
    background-color: #444444;
    margin-top: 46px;
}

#qrCode {
    display: inline-block;
    float: right;
    width: 152px;
    height: 154px;
    background: url("../img/QRcode.jpg");
    position: relative;
    top: -53px;
}

#qrCodeIntro {
    position: relative;
    top: 163px;
    left: 17px;
    color: #cccccc;
}

#permission {
    color: #acadac;
    position: relative;
    top: 27px;
}

#copy {
    color: #acadac;
    position: relative;
    top: 40px;
}